astroid==2.12.10
autopep8==1.7.0
awscli==1.25.83
bandit==1.7.4
botocore==1.27.82
colorama==0.4.5
coloredlogs==15.0.1
commonmark==0.9.1
dill==0.3.5.1
docutils==0.19
flake8==5.0.4
flatbuffers==22.9.24
gitdb==4.0.9
GitPython==3.1.28
humanfriendly==10.0
isort==5.10.1
jmespath==1.0.1
labelImg==1.8.6
lazy-object-proxy==1.7.1
lxml==4.9.1
mccabe==0.7.0
mpmath==1.2.1
numpy==1.23.3
onnx==1.12.0
onnxruntime==1.12.1
onnxsim==0.4.8
opencv-python==4.6.0.66
packaging==21.3
pandas==1.5.0
pbr==5.10.0
platformdirs==2.5.2
protobuf==3.20.1
pyasn1==0.4.8
pycodestyle==2.9.1
pyflakes==2.5.0
Pygments==2.13.0
pylint==2.15.3
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
python-dateutil==2.8.2
pytz==2022.2.1
PyYAML==6.0
rich==12.6.0
rsa==4.9
s3transfer==0.6.0
six==1.16.0
smmap==5.0.0
stevedore==4.0.0
sympy==1.11.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.5
tqdm==4.64.1
typing_extensions==4.4.0
urllib3==1.26.12
wrapt==1.14.1
